<!--
 * Title: about.component.html
 * Author: Jennifer Hoitenga
 * Date: August 23, 2023
 * Sources Used:
 * Angular Tutorial for Beginners: How to Rename Projects video by Professor Krasso (https://youtu.be/T7ef0bOOWs4)
 * Angular Tutorial for Beginners: Classes and Interfaces video by Professor Krasso (https://youtu.be/vvXSW_Cldvg)
 * Angular Tutorial for Beginners: How to Pass Data to Routes by Professor Krasso (https://www.youtube.com/watch?v=KTVHu4hafUs)
 * Bootstrap: https://getbootstrap.com/docs/4.0/content/reboot/
 *-->

<!-- Container for the composer information. -->
<div class="composer-container">
  <!-- Row for the composer's title. -->
  <div class="row">
    <div class="col-8 m-auto">
      <!--Adding a title for the composer, Danny Elfman.-->
      <h2 class="text-center m-4 mb-3">Danny Elfman</h2>
    </div>
  </div>

  <hr />

  <!-- Row for the composer's image and bio. -->
  <div class="row">
    <!-- Column for the composer's image with a caption. -->
    <div class="col-md-4 text-center text-md-left">
      <figure style="display: inline-block">
        <!-- Composer's image. -->
        <img
          src="assets/elfman.jpg"
          class="img-fluid rounded"
          alt="Danny Elfman"
          style="max-width: 60%; height: auto"
        />
        <!-- Caption for the image with a source link. -->
        <figcaption class="text-center p-2">
          <small class="text-muted" style="font-size: 60%">
            <em>Image courtesy of </em>
            <a
              href="https://www.vecteezy.com/free-photos"
              target="_blank"
              class="text-info"
            >
              Free Stock photos by Vecteezy
            </a>
          </small>
        </figcaption>
      </figure>
    </div>

    <!-- Column for a brief biography of Danny Elfman. -->
    <div class="col-md-8">
      <p class="mb-4" style="line-height: 1.6">
        Danny Elfman, born on May 29, 1953, is a renowned American composer,
        singer, and songwriter acclaimed for his exceptional film scoring
        career. He has worked with directors such as Tim Burton, Peter Jackson,
        Guillermo del Toro, Gus Van Sant and many more. Rising to prominence as
        the lead singer of the band Oingo Boingo, Elfman's breakthrough in film
        came with his captivating score for Tim Burton's "Pee-wee's Big
        Adventure" in 1985.
      </p>
      <p class="mb-4" style="line-height: 1.6">
        Known for his unique blend of whimsy and darkness, Elfman's compositions
        have left an indelible mark on cinema, particularly through his work on
        films like "Good Will Hunting", "Edward Scissorhands," "Batman", "Milk"
        and "Men In Black". His versatile talent has earned him numerous awards
        and accolades, solidifying his status as one of the most influential and
        celebrated film composers of his generation. Alongside his film
        contributions, Elfman composed the memorable theme music for TV series
        like The Simpsons and Desperate Housewives.
      </p>
    </div>
  </div>
</div>
